.cartInformations{
    height: 625px;
    width: 100%;
    position: relative;
    bottom: 70px;
}

.cartInformationPlace{
    padding: 50px;
}

#shoppingCartTitle{
    text-align: center;
    position: relative;
    font-size: 23px;
    bottom: 43px;
}

