.midFooterInfo{
    display: inline-table;
    position: relative;
    padding-right: 220px;
    bottom: 480px;
    left:250px;
}

.midFooterInfoTitle{
    color: #EFEFEF;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 18px;
}

.ourStoreInfo{
    color: #565656;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-bottom: 7px;
}

.midFooterInfos{
    color: #949494;
    font-size: 15px;
    padding-bottom: 7px;
}