.imagesBarOff{
    display: block;
    border: 1px solid #EFEDEE;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 118px;
    left: 186px;
    margin-bottom: 2px;
}

.imagesBarOn{
    display: block;
    border: 2px solid black;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 118px;
    left: 186px;
    margin-bottom: 2px;
}