#mainImage{
    width: 370px;
    height: 378px;
    
}

.mainImgageFrame{
    width: 400px;
    height: 400px;
    position: relative;
    right: 40px;
    bottom: 100px;
    text-align: center;
    
}