.headerLinks{
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 1550px;
}

.headerRoutersIcons{
    color: #201E26;
    font-size: 40px;
    padding-right: 20px;
}


.linksCounterNumbers{  
    position: relative;
    right: 155px;
    bottom: 25px;  
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #B71929;
    margin-right: 40px;
    text-align: center;
    border-radius: 20px;

}
.numberOfValues{
    color: white;
    padding-top: 3px;
}

