body{
    background-color: rgb(19,19,19);
    
}

div#set input#insert{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(39, 37, 37);
    color: rgb(199,195,195);
    width: 1584px;
    height: 35px;
    border:1px solid rgb(39, 37, 37); 
    left:175px;
    bottom: 3px;
    padding-left: 10px;
    padding-right:39px;
    
}

div#searchName input#searchGifs{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(45,45,45);
    color: rgb(185,185,185);
    height: 35px;
    width: 170px;
    top:10px;
    left: 15px;
    padding-left: 34px;
    padding-right: 34px;
    border:1px solid rgb(45,45,45);
   
}

div#set input::placeholder{
    color: rgb(121,121,121);
    font-size: 16px;
    position: absolute;
    left: 3px;
    
}

div#searchName input#searchGifs::placeholder{
    color: rgb(121,121,121);
    font-size: 16px;
    position: absolute;
    left: 33px;
}

div#arrow{
    width: 0;
    height: 0;
    border-left: 15px solid rgb(36,37,38);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid rgb(32,32,32);
    position: absolute;
    top: 869px;
    left: 132px;
    display: none;
}

div#set i{
    color: rgb(10,124,255);
    font-size: 36px;
    padding-right: 15px;
    
}

#i1{
    padding-left: 4px;
}

div#set{
    background-color: rgb(19,19,19);
    position: absolute;
    top: 900px;
    
    
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
div#all{
    width: 100%;
    height: 100%;
}


div#gifs{
    height: 349px;
    width: 273px;   
    background-color: rgb(19,19,19);
    position: absolute;
    top: 460px;
    left: 20px;
}

div#GIFS{
    height: 349px;
    width:  273px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(36,37,38);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
}


div#GIFS:hover{
    height: 349px;
    width:  273px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(36,37,38);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
}



::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 20px;
    
}


div#searchName{
    width: 273px;
    height: 60px;
    background-color: rgb(32,32,32);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: none;

}

div#set i#i4{
    position: absolute; 
    left: 1773px;
    font-size: 33px;
    top: 2px;
    
}

div#searchName i#i5{
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 32px;
    color: rgb(120,120,120);

}

div#searchName i#i6{
    position: absolute;
    top: 14px;
    left: 220px;
    font-size: 32px;
    color: rgb(120,120,120);

}

div#set i#i7{
    position: absolute;
    bottom: 6px;
    left: 1819px;
  
}

img.gif{
    width: 273px;
}

i:hover ,  img:hover{
    cursor: pointer;
}

